<section class="container-md px-4 py-4">
  <h2 class="text--secondary h2 mb-4 fw-bold">Why Fiber?</h2>
  <p class="why-fiber fw-bold">A good portfolio means good employability.</p>
  <div class="row gap-5 justify-content-md-between">
    <article class="feature col-md-3">
      <svg class="icon--feature mb-3">
        <use href="images/sprite.svg#time"></use>
      </svg>
      <h3 class="mt-1 mb-4">Build in minutes</h3>
      <p class="text-muted">
        With a selection of premade templates, you can build out a portfolio in
        less than 10 minutes.
      </p>
    </article>
    <article class="feature col-md-3">
      <svg class="icon--feature mb-3">
        <use href="images/sprite.svg#code"></use>
      </svg>
      <h3 class="mt-1 mb-4">Add custom CSS</h3>
      <p class="text-muted">
        Customize your personal portfolio even with the ability to add your own
        custom CSS styles.
      </p>
    </article>
    <article class="feature col-md-3">
      <svg class="icon--feature mb-3">
        <use href="images/sprite.svg#allSizes"></use>
      </svg>
      <h3 class="mt-1 mb-4">Responsive</h3>
      <p class="text-muted">
        All Fiber templates are fully responsive to ensure the experience is
        seemless across all devices
      </p>
    </article>
  </div>
</section>
