<section class="block--primary py-4 px-4">
  <div class="container-md row align-items-center justify-content-center hero">
    <div class="col-md-6 order-1 order-md-0 mt-3">
      <div class="d-none d-lg-flex align-items-center gap-md-2">
        <svg class="icon--star">
          <use href="images/sprite.svg#star"></use>
        </svg>
        <svg class="icon--star">
          <use href="images/sprite.svg#star"></use>
        </svg>
        <svg class="icon--star">
          <use href="images/sprite.svg#star"></use>
        </svg>
        <svg class="icon--star">
          <use href="images/sprite.svg#star"></use>
        </svg>
        <svg class="icon--star me-3">
          <use href="images/sprite.svg#star"></use>
        </svg>
        <span class="pt-1">Rated 4.8/5 (243 reviews)</span>
      </div>
      <h1 class="mt-md-4 my-3">Create your portfolio in minutes.</h1>
      <p class="text-muted">
        With Fiber, you can setup your own personal portfolio in minutes with
        dozens of premade, beautiful templates.
      </p>
      <div class="d-flex flex-column flex-md-row align-items-center gap-md-5">
        <button
          class="
            btn btn--block btn--secondary
            text-light
            fw-bold
            py-3
            px-4
            mt-2
            mb-4
            fs-4
          "
        >
          Start Free Trial
        </button>
        <a href="#" class="link--secondary fw-bold"> View Examples </a>
      </div>
      <div
        class="
          d-flex
          flex-column flex-md-row
          align-items-start
          mt-5 mt-md-4
          text-muted
          gap-md-4
        "
      >
        <p class="d-flex justify-content-center align-items-center gap-3">
          <svg class="icon--checkmark">
            <use href="images/sprite.svg#Checkmark"></use>
          </svg>
          No Credit Card Required
        </p>
        <p class="d-flex justify-content-center align-items-center gap-3">
          <svg class="icon--checkmark">
            <use href="images/sprite.svg#Checkmark"></use>
          </svg>
          10 Free Templates
        </p>
      </div>
    </div>
    <div class="col-md-6 order-0 order-md-1">
      <img
        class="img-fluid"
        src="images/hero-Illustration.png"
        alt="Hero illustration"
      />
    </div>
  </div>
</section>
