<nav
  class="navbar navbar-expand-md navbar-light py-4 px-4 pt-md-5 block--primary"
>
  <div class="container-md">
    <a class="navbar-brand fs-2 fw-bold" href="#">Fiber</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav--content gap-md-3">
        <li class="nav-item align-self-center">
          <a class="nav-link" aria-current="page" href="#">Community</a>
        </li>
        <li class="nav-item align-self-center">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item align-self-center">
          <a class="nav-link" href="#">Features</a>
        </li>
      </ul>
      <ul class="navbar-nav gap-md-5 nav--sign-up">
        <li class="nav-item align-self-center fw-bold">
          <a class="nav-link" href="#">Sign In</a>
        </li>
        <li class="nav-item nav-item--sign-up align-self-center">
          <button
            class="
              btn btn--secondary btn--sign-up
              text-light
              fw-bold
              py-3
              px-4
              fs-5
            "
          >
            Sign Up
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
