<div class="px-5">
  <img
    class="img-fluid"
    src="images/SignUpImage.png"
    alt="Part of Portfolio Website"
  />
  <h2 class="text-light fw-bold text-center mt-5 mb-3 sign-up__header">
    Unparalleled Templates
  </h2>
  <p class="text-light text-center fs-4 mb-4">
    Crafted by a team of professional designers, our templates are eunparalleled
    in the market.
  </p>
  <div class="dots-container">
    <button class="dots dots--active"></button>
    <button class="dots"></button>
    <button class="dots"></button>
    <button class="dots"></button>
  </div>
</div>
