<section class="container-md p-4">
  <div class="testimonials">
    <article class="testimonial rounded border">
      <div class="d-flex flex-row gap-3 align-items-end mb-4">
        <img src="images/userAvatar.svg" class="icon--user" alt="" />
        <header>
          <h2 class="h5 text--secondary fw-bold mb-0">Sarah Andrews</h2>
          <p class="fs-5 mb-0">$100k in revenue</p>
        </header>
      </div>
      <p>
        Setting up my portfolio with Fiber took no more than 10 minutes. Since
        then, my portfolio has attracted a lot of clients and made me more than
        $100k.
      </p>
      <button
        class="btn text--secondary fw-bold py-3 px-4 fs-4 border mt-2 mt-md-3"
      >
        View Sarah's Portfolio
      </button>
    </article>
    <article class="testimonial rounded border">
      <div class="d-flex flex-row gap-3 align-items-end mb-4">
        <img src="images/userAvatar2.svg" class="icon--user" alt="" />
        <header>
          <h2 class="h5 text--secondary fw-bold mb-0">Matthew Higgings</h2>
          <p class="fs-5 mb-0">$20k in revenue</p>
        </header>
      </div>
      <p>
        I have been getting A LOT of leads ever since I used Fiber's premade
        templates, now I just need to work on my case studies and I'll be ready
        to go!
      </p>
      <button
        class="btn text--secondary fw-bold py-3 px-4 fs-4 border mt-2 mt-md-3"
      >
        View Mathew's Portfolio
      </button>
    </article>
    <article class="testimonial rounded border">
      <div class="d-flex flex-row gap-3 align-items-end mb-4">
        <img src="images/userAvatar3.svg" class="icon--user" alt="" />
        <header>
          <h2 class="h5 text--secondary fw-bold mb-0">Sarah Andrews</h2>
          <p class="fs-5 mb-0">$30k in revenue</p>
        </header>
      </div>
      <p>
        I only just started freelancing this year, and I have already made more
        than I ever made in my full-time job. The templates are so amazing.
      </p>
      <button
        class="btn text--secondary fw-bold py-3 px-4 fs-4 border mt-2 mt-md-3"
      >
        View Janice's Portfolio
      </button>
    </article>
  </div>
</section>
