<section class="p-4">
  <div class="rounded container-md block--secondary">
    <div
      class="
        row
        trial
        pt-5 pt-md-0
        justify-content-md-center
        align-items-md-center
      "
    >
      <div class="col-lg-5 col-md-6 px-5 pt-3 pt-md-0 pb-md-2 text-light">
        <h2 class="trial--header my-2 mt-md-0">Diversify your portfolio.</h2>
        <p>
          Create an even more impressive portfolio by creating case studies for
          your projects. Simply follow our step-by-step guide.
        </p>
        <button
          class="
            btn--block btn-light btn
            text--secondary
            fw-bold
            py-3
            px-4
            fs-4
            mt-3
          "
        >
          Start Free Trial
        </button>
      </div>
      <img
        class="img-fluid col-lg-5 col-md-6 pt-md-5 px-5"
        src="images/Page Image.png"
        alt=""
      />
    </div>
  </div>
</section>
